body,
html {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-size: 16px;
}

header {
  display: block;
  width: 100%;
}

main {
	z-index: 1;
	background-image: url("images/christ.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height:100%;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  background-color: #0e72e4;
  border-style: solid;
  border-color: gray;

}

nav {
	height: 10rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

li a {
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
}

h1 {
	color: white;
	background-color: black;
}

ul {
  width: 100%;
  padding: 0;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
}

p {
	background-color: white;
	display: inline-flex;
}

#header-wrapper {
	background-color:black;
}

#header-bg {
  z-index: -1;
  height: 4rem;
  background-image: url("images/logo.png");
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

#logo-id {
	margin:0;
}